---
import { render } from "astro:content";
import { getCollection, getEntry } from "astro:content";
import LessonLayout from "@/layouts/LessonLayout.astro";
import { Quiz } from "@/components/solid/Quiz";
import type { Lesson } from "@/types/lesson";

export async function getStaticPaths() {
  const python = await getCollection("python");

  const topics = [
    ...new Set(
      python
        .map((entry) => entry.id.split("/")[0])
        .filter((topic) => topic !== "lesson.md" && topic !== "exercise.md"),
    ),
  ];

  return topics.map((topic) => ({
    params: { topic },
    props: { topic },
  }));
}

const { topic } = Astro.props;
const lesson = await getEntry("python", `${topic}/lesson`);

const { Content } = lesson?.data.type === "lesson" ? await render(lesson) : {};
const data = lesson?.data as Lesson;
---

<LessonLayout title={data.title} description={data.description}>
  {Content && <Content />}
  {
    Array.isArray(data?.quiz) && data.quiz.length > 0 && (
      <Fragment slot="quiz">
        <Quiz client:only="solid-js" quiz={data.quiz} />
      </Fragment>
    )
  }
  <Fragment slot="footer">
    <div class="bg-card text-card-foreground mt-5 rounded-lg border shadow-sm">
      <p>Aquí van unos botones</p>
    </div>
  </Fragment>
</LessonLayout>
