---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/ui/card/Card.astro";
import CardHeader from "@/components/ui/card/CardHeader.astro";
import CardTitle from "@/components/ui/card/CardTitle.astro";
import CardDescription from "@/components/ui/card/CardDescription.astro";
import HeaderTitle from "@/components/astro/HeaderTitle.astro";
import binaryBrain from "@/assets/images/binary-logo.png";
import type { Language } from "@/types/language";
import { useTranslations } from "@/i18n/utils";
import { createLanguageParams } from "@/i18n/constants";

export async function getStaticPaths() {
  return createLanguageParams();
}

const lang = Astro.params.lang as Language;
const t = useTranslations(lang);
---

<Layout
  title={t("home.meta.title")}
  lang={lang}
  description={t("home.meta.description")}
>
  <main
    class="container mx-auto flex h-dvh flex-col items-center gap-16 p-4 md:min-h-screen md:justify-center md:gap-1 md:p-8"
  >
    <div class="absolute top-4 right-4">
      <!-- <ModeToggle /> -->
    </div>
    <header class="mt-10 text-center md:mt-0 md:mb-12">
      <HeaderTitle
        title={t("home.header.title")}
        subtitle={t("home.header.subtitle")}
        src={binaryBrain}
      />
    </header>

    <div class="grid w-full max-w-4xl gap-8 md:grid-cols-2">
      <a href={`/${lang}/python`} class="block">
        <Card
          class="h-full transform cursor-pointer transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl"
        >
          <CardHeader class="text-center">
            <div class="mb-4 flex justify-center">
              <Icon name="code" class={"w-12 h-12 text-accent"} />
            </div>
            <CardTitle class="font-headline text-3xl"
              >{t("home.pythonCard.title")}</CardTitle
            >
            <CardDescription class="text-md">
              {t("home.pythonCard.description")}
            </CardDescription>
          </CardHeader>
        </Card>
      </a>
      <a href={`/${lang}/sql`} class="block">
        <Card
          class="h-full transform cursor-pointer transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl"
        >
          <CardHeader class="text-center">
            <div class="mb-4 flex justify-center">
              <Icon name="database" class={"w-12 h-12 text-accent"} />
            </div>
            <CardTitle class="font-headline text-3xl"
              >{t("home.sqlCard.title")}</CardTitle
            >
            <CardDescription class="text-base">
              {t("home.sqlCard.description")}
            </CardDescription>
          </CardHeader>
        </Card>
      </a>
    </div>
  </main>
</Layout>
